#card-book{
    .card-description{
        height: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: pre-wrap;
    }
    .card-title{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}